tensorflow==2.9.1
tensorflowjs
tensorflow-serving-api==2.9.0
tensorflow-datasets==4.6.0
tensorflow-addons==0.17.1
opencv-python=4.5.5.64
matplotlib==3.5.2
imageio==2.19.3
aiogrpc==1.8
natsort

# convert options
onnx==1.12.0
onnx-tf==1.10.0

# convert to tfjs
# tensorflowjs_converter ./checkpoints/converted_frozen_graph/frozen_graph.pb ./checkpoints/converted_tfjs/ --input_format=tf_frozen_model --output_node_names='Identity' --quantize_float16
# tensorflowjs_converter ./checkpoints/new_tfjs_frozen/frozen_graph.pb ./checkpoints/converted_tfjs_human/ --input_format=tf_frozen_model --output_node_names='Identity' --quantize_float16